body
{
    background-image: url("fondo3.f573ffeba960.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.container a{
    padding-top: 20px;
}
.titulo{
    justify-content: center;
}